* {
    box-sizing: border-box;
    font-size: medium;
    font-family: Georgia, 'Times New Roman', Times, serif;
 
}
body {
    display: flex;
    font-family: Arial;
    margin: 0;
    flex-direction: column;
    height: 100vh;
  }
header {
  padding: 40px;
  text-align: center;
  background: #13293d;
  color: #fff;
  height: 10vh;
}
nav {
    height: 10vh;
    width: 100%;
    display: flex;
    background: burlywood;
}
nav a{
    color: black;
    padding: 14px 15px;
    font-size: larger;
    text-decoration: none;
    text-align: center;
}

main {
    height: 70vh;
    display: flex;
    flex-wrap: wrap;
}
aside {
     display: flex;
     flex-flow: column wrap;
     background-color: rgb(26, 67, 155);
     color: #fff;
     justify-content: center;
     padding: 10px;
}

section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    flex-grow: 2;
}
#img {
    height: 35vh;
}
.label {
    font-weight: bold;
}
#contact-details {
    display: flex;
    flex-direction: column;
    align-items: center;
}
footer{
  height: 15vh;
  width: 100%;
  text-align: center;
  background: #13293d;
  color: #fff;
  margin-top: auto;
}
@media screen and (max-width: 992px) {
    main {
        display: block;
        flex-grow: 0;
    }
    footer{
        margin-top: 10%;
    }
}
@media screen and (max-width: 768px) {
    main {
        display: block;
        flex-grow: 0;
    }
    footer{
        margin-top: 10%;
    }
}
@media screen and (max-width: 576px) {
    header {
        padding: 10px;
    }
    main {
        display: block;
        flex-grow: 0;
    }
    section {
        display: flex;
        flex-direction:column;
        justify-content: center;
    }
    footer{
        margin-top: 10%;
        margin-bottom: 0;
        height: 20vh;
    }
}